/* Header.css */

.header-toolbar {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 1.5rem ;
  }
  
  .toolbar-container {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo verticalmente */
    align-items: center;
  }
  
  .header-title {
    font-family: "Urbanist", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #ff5a5f;
    margin-bottom: 1rem; /* Espaço entre o título e os botões */
  }
  
  .button-container {
    display: flex;
    gap: 1rem; /* Espaço entre os botões */
  }
  
  .header-button {
    background-color: #ffffff;
    color: #ff5a5f;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.3s ease;
;
  }
  
  .header-button:hover {
    background-color: #ff7a7e;
    color: #ffffff;
  }
  